<!DOCTYPE html>
<html>
  <head>
    <title>The Title</title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <h1>StaticPages#home</h1>
    
    <h1>Hello World!</h1>
    <p>Find me in app/views/static_pages/home.html.erb</p>
    <button type="submit" class="btn btn-primary">Submit</button>

    <a class="btn btn-primary">Do it</a>
  </body>
</html>
